[Unit]
Description=Psono SSH Agent
After=default.target

[Service]
Type=simple
Environment="PATH=%h/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/bin/bash %h/.local/bin/psono-ssh-agent.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
