[Unit]
Description=Psono SSH Agent
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/bash %h/.local/bin/psono-ssh-agent.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
